.header {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 200px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/jared-erondu-40255.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/jared-erondu-40255.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.image {
  padding: 10px;
}

.heading {
  margin-bottom: 20px;
  font-family: 'Avenirnextltpro ultlt', sans-serif;
  color: #fff;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 10px 5px;
  padding: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
}

.text-block {
  padding-left: 5px;
  color: #fff;
  text-decoration: none;
}

.link {
  padding-right: 20px;
  color: #fff;
  text-decoration: none;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.text-block-2 {
  padding-left: 5px;
  font-family: Avenirltstd, sans-serif;
  color: #333232;
  text-decoration: none;
}

.sliderdiv {
  width: 75vw;
  padding: 10px 10px 20px;
  background-color: #887c9b;
}

.pageheader {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Avenirltstd book', sans-serif;
}

.infoheader {
  font-family: 'Avenirltstd book', sans-serif;
  color: #fff;
}

.infodescriptiondiv {
  width: 60vw;
}

.paragraph {
  width: 75vw;
  padding: 10px;
}

.rewardeditdiv {
  width: 75vw;
}

.maincolumn {
  padding-top: 20px;
}

.imagesheader {
  padding-bottom: 50px;
}

.infotext {
  font-family: 'Avenirltstd book', sans-serif;
  color: #fff;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row {
  font-family: 'Avenirltstd book', sans-serif;
  color: #fff;
}

.business-address {
  text-align: center;
}

.sliderheader {
  font-family: 'Avenirltstd book', sans-serif;
}

.imagesliderdiv {
  width: 75vw;
  height: 300px;
  background-color: #000;
}

.div-block-3 {
  border-color: #000;
  border-radius: 200px;
}

.logodiv {
  width: 75vw;
  padding: 10px 10px 20px 0px;
}

.row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 5px;
}

.uploadbutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #4a90e2;
  text-decoration: none;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-3 {
  padding-left: 5px;
  color: #fff;
  text-decoration: none;
}

.imagediv {
  padding-top: 10px;
  padding-bottom: 40px;
}

.div-block-7 {
  width: 75vw;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-2 {
  padding: 5px;
  font-family: Avenirltstd, sans-serif;
  color: red;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slidercount {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Avenirltstd book', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  padding-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-5 {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sliderwrapper {
  padding-bottom: 50px;
}

.text-block-4 {
  padding-top: 10px;
}

.signinpagewrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/jared-erondu-40255.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/jared-erondu-40255.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  text-align: center;
}

.container {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-12 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.signinbutton {
  display: block;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #27767e;
}

.image-2 {
  margin-bottom: 15px;
}

.homepagewrapper {
  height: 100vh;
  background-image: url('../images/gerrit-vermeulen-99726-lower-res.jpg'), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  background-image: url('../images/gerrit-vermeulen-99726-lower-res.jpg'), linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

.image-3 {
  margin-top: 0px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.heading-2 {
  display: inline-block;
  font-family: 'Avenirltstd book', sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.text-block-5 {
  margin-bottom: -20px;
  margin-left: -30px;
  color: #fff;
  text-align: left;
}

.text-block-6 {
  margin-top: -7px;
  color: #fff;
  font-size: 12px;
}

.div-block-13 {
  display: inline-block;
}

.homepagebuttons {
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .2);
  color: #fff;
  text-align: center;
}

.container-3 {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2 {
  font-family: 'Avenirltstd book', sans-serif;
  color: #fff;
}

.container-4 {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, .8);
}

.body {
  color: #fff;
}

.container-5 {
  position: relative;
  background-color: rgba(0, 0, 0, .8);
}

.analyticsdropdown {
  position: absolute;
  margin-right: 40px;
  margin-left: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .8);
}

.advertisingdropdown {
  position: absolute;
  margin-right: 40px;
  margin-left: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}

.container-6 {
  position: relative;
  display: block;
}

.paragraph-3 {
  font-family: 'Avenirltstd book', sans-serif;
}

html.w-mod-js *[data-ix="hidden"] {
  display: none;
  height: 0px;
}

@font-face {
  font-family: 'Avenirnextltpro ultlt';
  src: url('../fonts/AvenirNextLTPro-UltLt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bauhaus 93 6274 (1)';
  src: url('../fonts/Bauhaus-93_6274-1.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-BlackOblique.otf') format('opentype'), url('../fonts/AvenirLTStd-HeavyOblique.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirltstd book';
  src: url('../fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-Heavy.otf') format('opentype'), url('../fonts/AvenirLTStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-BookOblique.otf') format('opentype'), url('../fonts/AvenirLTStd-Oblique.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-LightOblique.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-MediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirltstd roman';
  src: url('../fonts/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}